
<div class="container">
    <div class="row">


    {{template "UserRight" .}}


        <div class="col-xs-9 wenku-left">

        {{template "Tabs" .}}


            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="strong pull-left">文件编辑</div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal wenku-form-upload wenku-ajax-form" role="form" method="post" data-url="/user/{{$.LoginUid}}" action="/user/{{$.LoginUid}}/edit/doc/{{.Doc.Id}}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件名称 <i class="text-danger">*</i></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-err="请输入文件名称" value="{{.Doc.Title}}" required="required" name="Title" placeholder="请输入文件名称">
                            </div>
                        </div>
                        <div class="form-group form-chanel">
                            <label class="col-sm-2 control-label">法规频道 <i class="text-danger">*</i></label>
                            <div class="col-sm-10">
                                <select name="Chanel" required="required" data-err="请选择文库频道" class="form-control" disabled="disabled">
                                    <option value="{{.UserCid}}">{{CategoryName .UserCid}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-cate">
                            <label class="col-sm-2 control-label">文件分类 <i class="text-danger">*</i></label>
                            <div class="col-sm-10 form-level-one">
                                <select name="Pid" required="required" data-default="{{.Info.Pid}}" data-err="请选择文件分类" class="form-control">
                                    <option value="">请选择文件分类</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-dept">
                            <label class="col-sm-2 control-label">发文级别 <i class="text-danger">*</i></label>
                            <div class="col-sm-10">
                                <select id="department" name="Department" required="required" data-err="请选择发文级别" class="form-control">
                                    <option value="">请选择发文级别</option>
                                    <option value="J委">J委</option>
                                    <option value="Z支">Z支</option>
                                    <option value="JH">JH</option>
                                    <option value="基地">基地</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">执行时间<i class="text-danger">*</i></label>
{{/*                            <div class="col-sm-5">*/}}
{{/*                                <input autocomplete="off" name="TimeStart" type="text" required="required" data-err="请选择文件生效日期" class="demo-input-start" placeholder="请选择文件生效日期" id="date1">*/}}
{{/*                            </div>*/}}
{{/*                            <div class="col-sm-5">*/}}
{{/*                                <input autocomplete="off" name="TimeEnd" type="text" data-err="请选择文件失效日期" class="demo-input-end" placeholder="请选择文件失效日期" id="date2">*/}}
{{/*                            </div>*/}}
{{/*                            */}}
                            <div class="col-sm-5">
                                <input autocomplete="off" type="text" required="required" data-err="请选择文件生效日期" class="form-control demo-input-start" placeholder="请选择文件生效日期" id="date1">
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" type="text" data-err="请选择文件失效日期" class="form-control demo-input-end" placeholder="请选择文件失效日期" id="date2">
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" name="TimeStart" required="required" data-err="请选择文件生效日期" class="demo-input-start" placeholder="请选择文件生效日期" type="hidden"  id="date3">
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" name="TimeEnd" data-err="请选择文件失效日期" class="demo-input-end" placeholder="请选择文件失效日期" type="hidden" id="date4">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件标签</label>
                            <div class="col-sm-10">
                                <input type="text" name="Tags" class="form-control" placeholder="多个标签，请用逗号分隔" value="{{.Doc.Keywords}}">
                            </div>
                        </div>
                        {{.xsrfdata}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件简介 </label>
                            <div class="col-sm-10">
                                <textarea name="Intro" rows="7" class="form-control" placeholder="请输入文件的相关简介，让大家更容易找到文件">{{.Doc.Description}}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-lg">提交编辑</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    // lay('#version').html('-v'+ laydate.v);
    laydate.render({
        elem: '#date1' //指定元素
        ,theme: 'molv'
        ,calendar: true
        ,showBottom: false
        ,position: 'fixed'
        ,done: function(value, date, endDate) {
            // 回调函数
            $("#date3").val(Date.parse(value)/1000);
        }
    });
    laydate.render({
        elem: '#date2' //指定元素
        ,theme: 'molv'
        ,calendar: true
        ,showBottom: false
        ,position: 'fixed'
        ,done: function(value, date, endDate) {
            // 回调函数
            $("#date4").val(Date.parse(value)/1000);
        }
    });
</script>
<script type="text/javascript" id="wenku-cates">
    {{.json}}
</script>
<iframe frameborder="0" style="display: none;" id="notarget" name="notarget"></iframe>
