{{define "head"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{.Seo.Title}} - Designed By 通信团</title>
<meta name="keywords" content="{{.Seo.Keywords}}"/>
<meta name="description" content="{{.Seo.Description}}"/>
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/bootstrap.min.css"/>-->
<link rel="stylesheet" href="{{.TplStatic}}/css/bootstrap.css">
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/flat-ui.min.css"/>-->
<!--<link rel="stylesheet" href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css">-->
<link rel="stylesheet" href="{{.TplStatic}}/css/flat-ui.min.css">
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/font-awesome.min.css"/>-->
<link rel="stylesheet" href="{{.TplStatic}}/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/Common/css/jquery.toast.min.css"/>
<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/dochub.css?version={{$.Version}}"/>
{{if .Sys.MobileOn}}
<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/dochub-mobile.css?version={{$.Version}}"/>
{{end}}
<link rel="shortcut icon" href="{{.TplStatic}}/img/favicon.ico">
<!--[if lt IE 9]>
  <script src="/static/Home/default/js/vendor/html5shiv.js"></script>
  <script src="/static/Home/default/js/vendor/respond.min.js"></script>
<![endif]-->

    <script src="{{.TplStatic}}/js/laydate/laydate.js"></script> <!-- 改成你的路径 -->
{{end}}
